* {
  box-sizing: border-box;
}

body {
  background: #d0e0e6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  flex-direction: row;
 
}

.cube {
cursor: pointer;
  margin: 2px;
  box-sizing: border-box;
}

.cube:hover {
  box-shadow: inset 0px 0px 0px 1px;
  box-sizing: border-box;
}

