* {
  box-sizing: border-box;
}

body {
  background: #ECECE2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color:#000000
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  flex-direction: row;
}

@media (max-width: 920px) {
  .board {
    padding: 10px;
    height: 300px;
    width: 300px;
  }
  .cube {
    margin: 1px;
  }
}

.cube {
  cursor: pointer;
  margin: 1px;
  box-sizing: border-box;
}

.cube:hover {
  box-shadow: inset 0px 0px 0px 1px;
  box-sizing: border-box;
}


button{
  display: inline-block;
  background: #FFE600;
  color: black;
  padding: .5em 1.25em;
  text-align: center;
  text-decoration: none;
cursor: pointer;
margin-right: .5em;
}